@import "tailwindcss";

@theme {
  --font-primary: var(--font-open-sans), sans-serif, system-ui;
  --font-secondary: var(--font-dm-serif), serif, Georgia;

  --color-primary: #8bc53e;
  --color-secondary: #662c91;

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), sans-serif;
}
